:root {
  --royal-blue: #06c;
  --midnight-blue: #036;
  --walsh-walsh-mid-green: #47888a;
  --walsh-walsh-dark-green: #2c5c5d;
  --waves-library-black: #131313;
  --waves-library-white: white;
  --waves-library-background: #faebe3;
  --relume-library-lite-rl-black: black;
  --relume-library-lite-rl-white: white;
  --walsh-walsh-dark-green-2: #204f58;
  --walsh-walsh-light-green: #c2ecd5;
  --lime-green: #0c6;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

body {
  color: #fff;
  background-color: #141414;
  font-family: Plus Jakarta Sans, sans-serif;
  font-size: 1rem;
  line-height: 1.3;
}

.list-item {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  align-items: center;
  display: flex;
}

.color-e5e5e5 {
  color: #e5e5e5;
}

._0-75rem-spacer {
  height: .75rem;
}

.icon-1x1-xsmall {
  width: 1.5rem;
  height: 1.5rem;
  justify-content: center;
  align-items: center;
  display: flex;
}

.heading-medium {
  max-width: 80%;
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.3;
}

.split {
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 100px;
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
}

.global-styles {
  display: block;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.hero-content-wrapper {
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  justify-content: center;
  align-items: flex-end;
  display: flex;
}

._1-5rem-spacer {
  height: 1.5rem;
}

.subheading {
  color: #000;
  font-family: Montserrat, sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  position: static;
}

.subheading.sub {
  color: #fff;
  font-weight: 500;
}

.step-text {
  flex: 1;
}

.container-small {
  width: 100%;
  max-width: 48rem;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  position: relative;
}

.page-load-indicator-wrap {
  width: 25%;
  height: .5rem;
  background-color: #292929;
  border-radius: 100vw;
  overflow: hidden;
}

.button-group {
  grid-column-gap: .75rem;
  grid-row-gap: .75rem;
  display: flex;
}

.cta-image {
  width: 71.25rem;
  height: 63.346rem;
  margin-top: -9.875rem;
  margin-left: -14.75rem;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
  transform: rotate(0);
}

.step-image {
  max-width: none;
  border-radius: 20px;
}

.hero-img-wrap {
  z-index: 10;
  height: 21rem;
  flex: 1;
  align-items: center;
  padding-left: 4rem;
  display: flex;
  position: relative;
}

.hero-text-wrap {
  max-width: 39rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 60px;
  padding-left: 0;
  display: flex;
}

._3rem-spacer {
  height: 3rem;
}

.step-heading {
  margin-bottom: .5rem;
  font-family: Montserrat, sans-serif;
  font-size: 4.5rem;
  font-weight: 500;
}

.main-wrapper.overflow-hidden {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-size: auto;
  overflow: hidden;
}

.hero-card {
  height: 21rem;
  max-width: none;
  position: absolute;
  box-shadow: 0 17px 1.75rem .875rem rgba(0, 0, 0, .05);
}

.hero-card.is-two {
  z-index: 5;
  box-shadow: none;
  border-radius: 2rem;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.hero-card.is-one {
  z-index: 4;
  box-shadow: none;
  margin-left: 4rem;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.hero-card.is-three {
  z-index: 6;
  box-shadow: none;
  background-color: rgba(33, 33, 33, 0);
  top: auto;
  bottom: 0%;
  left: 0%;
  right: auto;
}

.hero-card.is-four {
  z-index: 3;
  box-shadow: none;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.hero-card.is-five {
  z-index: 2;
  box-shadow: none;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

._6rem-spacer {
  height: auto;
  padding-bottom: 0;
  font-family: Merriweather, serif;
}

.text-size-large {
  max-width: 50%;
  letter-spacing: normal;
  font-family: Montserrat, sans-serif;
  font-size: 1.25rem;
}

.cta-wrap {
  height: 30rem;
  background-color: #292929;
  background-image: linear-gradient(260deg, #06c, rgba(250, 250, 250, 0) 100%, #fff);
  border: 1px #525252;
  border-radius: .5rem;
  justify-content: space-between;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.container-medium-home {
  z-index: 1;
  width: 100%;
  max-width: 82rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

._2-5rem-spacer {
  height: 2.5rem;
}

.section {
  z-index: auto;
  background-color: rgba(0, 102, 204, 0);
  background-image: none;
  padding-top: 0;
  padding-left: 2rem;
  padding-right: 2rem;
  display: block;
  position: relative;
}

.section.hero {
  background-color: #2f6296;
  background-image: url('../images/PaintLabelsWebsiteUX2.png');
  background-position: 0 0;
  background-size: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  padding-top: 9.75rem;
  padding-bottom: 8rem;
  display: flex;
}

.section.processsection {
  background-color: #036;
  background-image: none;
  padding-bottom: 0;
}

.section._2x {
  background-color: rgba(0, 102, 204, 0);
  padding-top: 77px;
  padding-bottom: 100px;
}

.section.bgproducten {
  background-image: linear-gradient(to bottom, var(--royal-blue), #036);
}

.list-wrap {
  grid-column-gap: 1.125rem;
  grid-row-gap: 1.125rem;
  color: #e5e5e5;
  flex-direction: column;
  margin-top: 2rem;
  padding-left: 1rem;
  display: flex;
}

.step-image-wrap {
  height: 32rem;
  max-width: 38rem;
  border-radius: 0;
  flex: 1;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: flex-start;
  padding-bottom: 0;
  display: flex;
  position: relative;
}

.text-weight-medium {
  font-weight: 500;
}

.text-weight-medium.color-e5e5e5 {
  color: #000;
  font-family: Montserrat, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
}

.page-load {
  z-index: 998;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  display: none;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
}

.heading-small {
  letter-spacing: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 1.2;
}

.page-load-indicator {
  width: 20%;
  height: 100%;
  background-image: linear-gradient(to right, #e63e42, #1dd3fe 25%, #efa789 75%, #6e8bdc);
  border-radius: 200vw;
}

.cta-image-wrap {
  width: 50%;
  height: 100%;
  justify-content: flex-start;
  align-items: flex-end;
  display: flex;
  position: relative;
}

.cta-text-wrap {
  z-index: 2;
  width: 50%;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 4rem;
  display: flex;
  position: relative;
}

.heading-xlarge {
  color: #000;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
  font-size: 3.75rem;
  font-weight: 800;
  line-height: 1.2;
}

.text-align-center {
  text-align: center;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
}

._1-25rem-spacer {
  height: 1.25rem;
}

.div-block {
  height: 40rem;
  flex: 1;
  align-items: flex-end;
  padding-bottom: 13.375rem;
  display: none;
}

.button {
  color: #fff;
  background-color: #292929;
  border: 1px solid #525252;
  border-radius: .25rem;
  justify-content: center;
  align-items: center;
  padding: .5rem 1.5rem;
  font-weight: 500;
  transition: all .4s;
  display: flex;
}

.button:hover {
  color: #292929;
  background-color: #fff;
}

.button.is-large {
  background-color: #0c6;
  border-style: none;
  border-radius: .5rem;
  padding: .75rem 1.75rem;
  font-family: Montserrat, sans-serif;
  font-size: 1.125rem;
}

.button.is-large:hover {
  background-color: #00ff80;
}

.cta-image-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.walsh-menu-button {
  color: #fff;
}

.walsh-label-button {
  font-family: Montserrat, sans-serif;
  font-size: .85rem;
}

.walsh-label-button:hover {
  font-weight: 400;
}

.walsh-button-label-wrapper {
  z-index: 4;
  grid-column-gap: 8px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
}

.walsh-link-block-orange {
  color: #fff;
  text-align: center;
  background-color: #0c6;
  border-radius: 100px;
  justify-content: center;
  align-self: stretch;
  align-items: center;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color .2s cubic-bezier(.645, .045, .355, 1);
  display: flex;
  position: relative;
  overflow: hidden;
}

.walsh-link-block-orange:hover {
  color: #000;
  background-color: #00ff80;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

.walsh-link-block-transparent-1 {
  box-shadow: inset 1px -1px 0 0 var(--walsh-walsh-mid-green), inset -1px 1px 0 0 var(--walsh-walsh-mid-green), inset -1px -1px 0 0 var(--walsh-walsh-mid-green), inset 1px 1px 0 0 var(--walsh-walsh-mid-green);
  color: #fff;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #abf3cf;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  transition: background-color .2s cubic-bezier(.645, .045, .355, 1);
  display: flex;
  position: relative;
  overflow: hidden;
}

.walsh-link-block-transparent-1:hover {
  box-shadow: none;
  color: var(--walsh-walsh-dark-green);
  background-color: #fff;
  border-style: none;
}

.walsh-flex-nav-buttons {
  grid-column-gap: 10px;
  justify-content: flex-end;
  align-items: center;
  margin-right: 40px;
  display: flex;
}

.walsh-nav-menu-justify {
  grid-column-gap: 8px;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
}

.walsh-nav-logo {
  margin-left: 40px;
}

.walsh-brand-block {
  z-index: 2;
  width: auto;
  height: 100%;
  align-items: center;
  display: flex;
}

.walsh-nav-grid-1 {
  width: 100%;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  display: flex;
}

.walsh-inner-nav {
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.walsh-container-nav {
  max-width: 1480px;
  background-color: rgba(145, 69, 69, 0);
  padding-left: 20px;
  padding-right: 20px;
}

.walsh-main-nav {
  background-color: rgba(0, 51, 102, 0);
}

.walsh-nav-wrapper-green {
  z-index: 10;
  box-shadow: none;
  background-color: rgba(0, 0, 0, .32);
  border: 1px solid rgba(255, 255, 255, 0);
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.text-block-2 {
  font-family: Montserrat, sans-serif;
  font-size: .85rem;
  font-weight: 500;
}

.text-block-3 {
  font-family: Montserrat, sans-serif;
}

.uui-container-large-3 {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.uui-footer07_link {
  color: #475467;
  text-align: center;
  padding: .5rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  transition: all .3s;
}

.uui-footer07_link:hover {
  color: #344054;
}

.uui-footer07_bottom-wrapper {
  border: 1px #06c;
  border-top-style: solid;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
  padding-top: 1rem;
  display: flex;
}

.footer_social-list {
  grid-column-gap: 1.25rem;
  grid-row-gap: 1.25rem;
  white-space: normal;
  grid-template-rows: max-content;
  grid-template-columns: max-content;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  justify-content: center;
  display: grid;
}

.div-block-3 {
  text-align: left;
  justify-content: center;
  align-items: center;
  display: flex;
}

.link-block-6 {
  display: flex;
}

.uui-footer07_legal-list {
  grid-column-gap: 1rem;
  grid-row-gap: 0rem;
  white-space: normal;
  grid-template-rows: auto;
  grid-template-columns: max-content;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  justify-content: center;
  display: grid;
}

.uui-footer07_component {
  background-color: #080808;
}

.uui-logo_component {
  width: auto;
  height: 2rem;
  flex-wrap: nowrap;
  display: flex;
}

.text-block-6 {
  color: #fff;
  font-family: Montserrat, sans-serif;
}

.link-block-7 {
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  display: flex;
}

.uui-text-size-small {
  color: #475467;
  letter-spacing: normal;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: .875rem;
  line-height: 1.5;
}

.uui-text-size-small.text-color-gray500 {
  color: #fff;
  font-family: Montserrat, sans-serif;
}

.uui-logo_logomark {
  width: 2rem;
  height: 2rem;
  border: .1px #dae0e8;
  border-radius: .5rem;
  flex: none;
  justify-content: center;
  align-items: center;
  display: flex;
  position: relative;
  overflow: hidden;
  box-shadow: 0 1px 1px rgba(16, 24, 40, .06), 0 1px 2px rgba(16, 24, 40, .1);
}

.uui-styleguide_logomark-bg {
  width: 2rem;
  height: 2rem;
  border-radius: 8px;
  margin-right: 0;
  padding-right: 0;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.uui-page-padding-3 {
  background-color: #036;
  padding-left: 2rem;
  padding-right: 2rem;
}

.z {
  width: 1rem;
  height: 1rem;
  transition: filter .2s;
}

.text-block-7 {
  color: #fff;
  align-items: center;
  margin-left: 10px;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  display: flex;
}

.uui-padding-vertical-xlarge {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.uui-footer07_link-list {
  grid-column-gap: 1rem;
  grid-row-gap: 0rem;
  white-space: normal;
  grid-template-rows: auto;
  grid-template-columns: max-content;
  grid-auto-columns: max-content;
  grid-auto-flow: column;
  justify-content: center;
  justify-items: start;
  display: grid;
}

.uui-footer07_top-wrapper {
  flex-direction: column;
  align-items: center;
  margin-bottom: -26px;
  display: flex;
}

.text-block-5 {
  color: #fff;
  font-family: Montserrat, sans-serif;
}

.footer_social-link {
  width: 3rem;
  height: 3rem;
  background-image: url('../images/noise_1noise.webp');
  background-size: 800px 800px;
  border: 2px solid #06c;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition: background-color .2s;
  display: flex;
}

.footer_social-link:hover {
  background-color: #1d1d1d;
  border-style: none;
}

.footer_credit-text {
  color: rgba(255, 255, 255, .7);
  margin-bottom: 0;
  padding-right: 7px;
  font-family: Montserrat, sans-serif;
  font-size: .88rem;
}

.uui-footer07_logo-link {
  margin-bottom: 2rem;
  padding-left: 0;
}

.text-block-8, .text-block-9, .text-block-10, .text-block-11, .text-block-12, .text-block-13, .text-block-14, .text-block-15, .text-block-16 {
  font-family: Montserrat, sans-serif;
}

.global-styles-2 {
  display: none;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: auto;
}

.waves---main-container {
  max-width: 1352px;
  padding-left: 24px;
  padding-right: 24px;
}

.waves---section-medium {
  background-color: var(--royal-blue);
  padding-top: 100px;
  padding-bottom: 100px;
}

.waves---expand-line {
  width: 16px;
  height: 2px;
  background-color: var(--waves-library-black);
}

.waves---expand-line.vertical {
  width: 2px;
  height: 16px;
  position: absolute;
}

.waves---expand-icon-wrap {
  width: 16px;
  height: 16px;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  display: flex;
}

.waves-expanded-text {
  margin-bottom: 0;
  font-size: 16px;
}

.waves---expand-space {
  height: 24px;
}

.waves---expandable-open {
  transform-origin: 50% 0;
}

.waves---paragraph-regular {
  font-size: 18px;
  line-height: 130%;
}

.waves---expandable-content {
  width: 100%;
  height: auto;
  margin-right: 24px;
}

.waves---expandable-item {
  height: auto;
  border-top: 1px solid var(--waves-library-black);
  cursor: pointer;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
}

.waves---expandable-wrap {
  width: 100%;
  flex-direction: column;
  display: flex;
}

.waves-expandable-master-faq-1 {
  max-width: 545px;
}

.waves---mg-top-16 {
  margin-top: 16px;
}

.waves---paragraph-big {
  text-align: center;
  font-size: 20px;
  line-height: 130%;
}

.waves---limit-480 {
  width: 100%;
  max-width: 480px;
}

.waves---heading-2-no-margins {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 48px;
  line-height: 130%;
}

.waves-left-faq-1 {
  width: 100%;
  max-width: 520px;
  grid-row-gap: 24px;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.waves-grid-faq-1 {
  grid-column-gap: 40px;
  grid-template-rows: auto;
  padding-top: 100px;
}

.waves---center-heading {
  grid-row-gap: 16px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.waves-master-contact-1 {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.rl_layout237_spacing-block-6 {
  width: 100%;
  padding-bottom: 4rem;
}

.rl-text-style-regular {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.rl_layout237_spacing-block-5 {
  width: 100%;
  padding-bottom: 1.5rem;
}

.rl-heading-style-h4 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.3;
}

.rl_layout237_spacing-block-4 {
  width: 100%;
  padding-bottom: 1.5rem;
}

.rl_layout237_icon {
  width: 3rem;
  height: 3rem;
}

.rl_layout237_item {
  width: 100%;
  text-align: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.rl_layout237_content {
  width: 100%;
  grid-column-gap: 3rem;
  grid-row-gap: 4rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: start;
  justify-items: center;
  display: grid;
}

.rl_layout237_spacing-block-3 {
  width: 100%;
  padding-bottom: 5rem;
}

.rl-text-style-medium {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.5;
}

.rl_layout237_spacing-block-2 {
  width: 100%;
  padding-bottom: 1.5rem;
}

.rl-heading-style-h2 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Oxygen, Fira Sans, Droid Sans, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
}

.rl_layout237_spacing-block-1 {
  width: 100%;
  padding-bottom: 1rem;
}

.rl-text-style-subheading {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
}

.rl_layout237_heading-wrapper {
  width: 100%;
  max-width: 48rem;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.rl_layout237_component-2 {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.rl-padding-section-large {
  padding-top: 4rem;
  padding-bottom: 7rem;
}

.rl-container-large {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.rl-padding-global {
  background-color: rgba(0, 102, 204, 0);
  padding-left: 5%;
  padding-right: 5%;
}

.rl-padding-global.rl-padding-global2 {
  background-color: var(--royal-blue);
}

.rl_section_layout237 {
  background-color: rgba(255, 255, 255, 0);
}

.rl_gallery10_lightbox-link {
  width: 100%;
  margin-bottom: 2rem;
}

.rl_gallery10_masonry-grid {
  width: 100%;
  column-count: 3;
  column-gap: 2rem;
  padding-top: 50px;
}

.rl_gallery10_heading-wrapper {
  width: 100%;
  max-width: 48rem;
  text-align: center;
}

.rl_gallery10_component {
  flex-direction: column;
  align-items: center;
  display: flex;
}

.rl_section_gallery10 {
  background-color: var(--royal-blue);
}

.body {
  background-color: rgba(255, 0, 0, 0);
  background-image: none;
}

.rl-container-large-copy {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.walsh-inner-float-image {
  width: 100%;
  height: 100%;
  background-color: #cfc2c2;
  border-top-left-radius: 45px;
}

.walsh-padding-image-hero {
  padding-top: 8em;
  padding-bottom: 8em;
  padding-left: 3em;
}

.walsh-link-block-orange-2 {
  color: #fff;
  text-align: center;
  background-color: #ff715b;
  border-radius: 100px;
  justify-content: center;
  align-self: stretch;
  align-items: center;
  padding: 20px 32px;
  text-decoration: none;
  transition: background-color .2s cubic-bezier(.645, .045, .355, 1);
  display: flex;
  position: relative;
  overflow: hidden;
}

.walsh-link-block-orange-2:hover {
  background-color: #ffbba6;
}

.walsh-hero-div-block {
  grid-column-gap: 1.25em;
  justify-content: flex-end;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
}

.walsh-paragraph-serif-left-hero {
  max-width: 23em;
  color: rgba(255, 255, 255, .8);
  margin-bottom: .75em;
  font-family: Montserrat, sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
}

.walsh-hero-p-wrapper {
  width: 100%;
  max-width: 36em;
}

.walsh-heading-xlarge-white {
  color: #fff;
  letter-spacing: -.02em;
  font-family: Montserrat, sans-serif;
  font-size: 6em;
  font-weight: 700;
  line-height: 1;
}

.walsh-left-hero {
  width: 100%;
  grid-row-gap: 2em;
  color: #fff;
  text-align: left;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 5em;
  padding-bottom: 5em;
  padding-left: 40px;
  display: flex;
}

.walsh-main-grid-no-gap {
  width: 100%;
  grid-column-gap: 0em;
  grid-row-gap: 0em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: start;
  position: relative;
}

.walsh-container-2 {
  z-index: 2;
  width: 100%;
  max-width: 1480px;
  flex: none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.walsh-background-darkgreen {
  background-color: #06c;
  position: relative;
}

.walsh-form-error {
  color: #8a0a0a;
  background-color: #f76969;
  border-radius: 4px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.walsh-form-success-rounded {
  color: #313d17;
  background-color: #c4f85c;
  border-radius: 35px;
}

.walsh-cta-form {
  width: 100%;
  grid-column-gap: 15px;
  justify-content: center;
  display: flex;
}

.walsh-form-block {
  width: 100%;
  color: #fff;
  flex: 1;
  margin-bottom: 0;
}

.walsh-heading-large-white {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Montserrat, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
}

.walsh-cta-h-wrapper {
  grid-row-gap: 1.5em;
  text-align: center;
  flex-direction: column;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
}

.walsh-center-h-wrapper {
  width: 100%;
  grid-row-gap: 10px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.walsh-main-grid-2 {
  width: 100%;
  grid-column-gap: 2.2em;
  grid-row-gap: 2.2em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: start;
  position: relative;
}

.walsh-container-padding-large {
  z-index: 2;
  width: 100%;
  max-width: 1480px;
  flex: none;
  margin-left: auto;
  margin-right: auto;
  padding: 2em 4.5em;
  position: relative;
}

.walsh-background-svg-green {
  background-color: var(--midnight-blue);
  background-image: linear-gradient(260deg, #06c, var(--midnight-blue) 98%);
  border-radius: 20px;
  position: relative;
}

.body-2 {
  background-color: var(--midnight-blue);
}

.container-medium-home-2 {
  z-index: 1;
  width: 100%;
  max-width: 82rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.body-3 {
  background-color: rgba(0, 102, 204, 0);
}

.text-style-link-02 {
  color: #6941c6;
  font-weight: 500;
  text-decoration: none;
}

.contactt_content {
  flex-flow: column;
  justify-content: space-between;
  padding-top: 0;
  text-decoration: none;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 42px;
}

.image-4 {
  filter: invert();
}

.contact6-1_item {
  align-items: center;
  display: flex;
}

.bold-text {
  color: #fff;
  text-decoration: none;
}

.ipad-padding {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 0;
  padding-top: 40px;
  display: block;
}

.contactt_contact-list {
  grid-column-gap: 1rem;
  grid-row-gap: 1.5rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  padding-top: 0;
  text-decoration: none;
  display: grid;
}

.map {
  border-radius: 5px;
}

.contact6-1_icon-wrapper {
  color: #7f56d9;
  background-color: rgba(233, 215, 254, 0);
  border-radius: 8px;
  flex: none;
  align-self: flex-start;
  margin-right: 1rem;
  padding: 3px;
}

.html-embed-2 {
  max-height: none;
  border-radius: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
  display: block;
  overflow: hidden;
}

.div-block-5 {
  width: 100%;
  flex-direction: column;
  display: flex;
}

.div-block-6 {
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 35px;
  padding: 0;
  overflow: visible;
}

.walsh-nav-logo-copy {
  margin-left: 40px;
  display: none;
}

.waves---main-container-2 {
  max-width: 1352px;
  padding-left: 24px;
  padding-right: 24px;
}

.waves-image-hero-3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 24px;
}

.waves-master-image-hero-3 {
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

.waves---subtitle {
  font-size: 1.25rem;
  line-height: 40px;
}

.waves---heading-1-no-margins {
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 72px;
  line-height: 120%;
  display: flex;
}

.waves-content-hero-3 {
  width: 100%;
  max-width: 544px;
  grid-row-gap: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 56px;
  display: flex;
}

.waves-hero-3-grid {
  grid-column-gap: 40px;
  grid-template-rows: auto;
}

.waves---section-hero-primary {
  background-color: var(--midnight-blue);
  padding-top: 100px;
  padding-bottom: 100px;
  display: none;
}

.link-block-8 {
  text-decoration: none;
}

.waves---paragraph-big-2 {
  font-size: 20px;
  line-height: 130%;
}

.waves---heading-2-no-margins-2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 48px;
  line-height: 130%;
}

.waves-content-cta-2 {
  grid-row-gap: 16px;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.waves-master-cta-2 {
  background-color: var(--waves-library-black);
  color: var(--waves-library-white);
  border-radius: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 40px;
  display: flex;
}

.waves---section-medium-2 {
  background-color: var(--midnight-blue);
  background-image: none;
  background-position: 0 0;
  background-size: auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.overflow-hidden {
  overflow: hidden;
}

.body-4 {
  background-color: rgba(0, 51, 102, 0);
  padding-bottom: 0;
}

.fn-cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.fh-features-image-wrapper {
  width: 100%;
  height: 500px;
  border-radius: 24px;
  overflow: hidden;
}

.fn-featured-tabs-content-wrapper {
  width: 100%;
}

.fn-featured-tabs-content {
  width: 60%;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 15px;
}

.fn-tabs-paragraph {
  flex: none;
  overflow: hidden;
}

.fn-tabs-link-title {
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  color: #cdd3d2;
  align-items: center;
  display: flex;
}

.fn-tabs-link {
  grid-column-gap: 12px;
  grid-row-gap: 12px;
  color: #939b9b;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 12px;
  flex-direction: column;
  align-items: flex-start;
  padding: 15px;
  font-family: Montserrat, sans-serif;
  transition: opacity .25s;
  display: flex;
}

.fn-tabs-link:hover {
  opacity: .8;
  color: #939b9b;
}

.fn-tabs-link.w--current {
  background-color: var(--midnight-blue);
  font-family: Montserrat, sans-serif;
}

.fn-featured-tabs-menu {
  flex-direction: column;
  display: flex;
}

.fn-featured-tabs {
  width: 100%;
  margin-bottom: 32px;
  position: static;
}

.fn-paragraph {
  color: #cdd3d2;
  margin-bottom: 32px;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
}

.fn-heading-2 {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: Montserrat, sans-serif;
  font-size: 52px;
  line-height: 1.2em;
}

.fn-column {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

.fn-container-grid {
  width: 100%;
  max-width: 1310px;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  padding-left: 15px;
  padding-right: 15px;
  display: grid;
}

.fn-container-grid.relative {
  position: relative;
}

.fn-section {
  width: 100%;
  color: #ecf0ef;
  background-color: rgba(0, 102, 204, 0);
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
  font-family: Open Sans, sans-serif;
  display: flex;
}

.is_a_section {
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.wrapper-image {
  width: 20rem;
  height: 25rem;
}

.wrapper-image.is_relative {
  width: 30rem;
  height: 30rem;
  cursor: pointer;
  align-items: center;
  display: flex;
  position: relative;
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.cover-image.is_absolute {
  object-position: 0% 100%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.cover-image.is_absolute._1 {
  display: block;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.cover-image.is_absolute._2, .cover-image.is_absolute._3, .cover-image.is_absolute._4, .cover-image.is_absolute._5 {
  display: none;
}

.image-9 {
  height: 400px;
  perspective-origin: 50% 100%;
  transform-origin: 50% 100%;
  position: relative;
}

.logo-container {
  height: auto;
  padding-top: 8px;
}

.hero-heading {
  color: #fff;
  text-align: center;
  -webkit-text-stroke-color: #fff;
  margin-top: 24px;
  margin-bottom: 0;
  padding-top: 20px;
  padding-left: 10vw;
  padding-right: 10vw;
  font-family: Montserrat, sans-serif;
  font-size: 64px;
  line-height: 120%;
}

.image-10 {
  height: 400px;
  perspective-origin: 50% 100%;
  transform-origin: 50% 100%;
  position: relative;
  right: 250px;
  transform: rotate(12deg);
}

.lottie-animation {
  z-index: 2;
  position: absolute;
}

.image-11 {
  height: 400px;
  perspective-origin: 50% 100%;
  transform-origin: 50% 100%;
  position: relative;
  right: -250px;
  transform: rotate(-12deg);
}

.hero {
  z-index: 2;
  background-color: var(--midnight-blue);
  border-bottom: 1px #000;
  border-radius: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 143px;
  display: flex;
  position: relative;
}

.link-block {
  z-index: 2;
  width: 96px;
  height: 96px;
  background-color: #53a9ff;
  border-radius: 96px;
  position: relative;
  top: 48px;
}

.cardcontainer {
  justify-content: center;
  align-items: center;
  padding-bottom: 76px;
  display: flex;
}

.cards-containers {
  margin-left: 10vw;
  margin-right: 10vw;
}

.grid {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  grid-template-columns: 1fr 1fr 1fr;
}

.cardbtn {
  cursor: default;
  text-decoration: none;
  position: relative;
}

.cardbtncolor {
  border-radius: 28px;
}

.image-14 {
  position: absolute;
  top: auto;
  bottom: -1%;
  left: 0%;
  right: 0%;
}

.div-block-10 {
  background-image: linear-gradient(to bottom, var(--royal-blue), var(--midnight-blue));
}

.link-block-11 {
  text-decoration: none;
}

.text-block-18 {
  text-align: center;
}

.image-3-copy {
  transform-style: preserve-3d;
  background-color: rgba(0, 102, 204, 0);
  padding-bottom: 0;
  display: block;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
  transform: rotateX(180deg)rotateY(0)rotateZ(0);
}

.image-15-copy {
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

@media screen and (min-width: 1440px) {
  .div-block-3 {
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .footer_credit-text {
    padding-right: 5px;
  }
}

@media screen and (min-width: 1920px) {
  .section {
    background-color: rgba(0, 102, 204, 0);
    background-image: none;
    padding-top: 8rem;
  }

  .section.hero {
    background-position: 0%;
    background-size: cover;
    padding-bottom: 26.4rem;
  }

  .section._2x {
    background-color: rgba(0, 102, 204, 0);
  }

  .section.bgproducten {
    background-color: var(--midnight-blue);
    background-image: linear-gradient(to bottom, var(--royal-blue), #036);
  }

  .button.is-large {
    text-decoration: none;
  }

  .body {
    background-color: var(--royal-blue);
  }

  .waves---section-medium-2 {
    margin-top: -1px;
    margin-bottom: -1px;
  }

  .hero {
    padding-bottom: 249px;
  }

  .div-block-10 {
    background-image: linear-gradient(to bottom, var(--royal-blue), var(--midnight-blue));
  }

  .link-block-11 {
    text-decoration: none;
  }

  .image-3-copy {
    display: block;
    top: -1%;
  }
}

@media screen and (max-width: 991px) {
  .split {
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  .hero-content-wrapper {
    flex-direction: column;
  }

  .page-load-indicator-wrap {
    width: 60%;
  }

  .cta-image {
    margin-top: -6.875rem;
    margin-left: -1.35rem;
  }

  .step-image {
    max-width: 100%;
  }

  .hero-img-wrap {
    margin-top: 14rem;
    transform: rotate(90deg);
  }

  .hero-text-wrap {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 66px;
  }

  .text-size-large {
    max-width: 60%;
  }

  .container-medium-home {
    position: static;
  }

  .section {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .section.hero {
    background-image: url('../images/PaintLabelsWebsiteUX2.png');
    background-size: cover;
  }

  .section.bgproducten {
    background-image: linear-gradient(to bottom, var(--royal-blue), #036);
  }

  .step-image-wrap {
    max-width: none;
  }

  .page-load {
    display: none;
  }

  .heading-xlarge {
    text-align: center;
    font-size: 3.25rem;
  }

  .cta-image-layer.is-2 {
    top: -8%;
    left: -5%;
  }

  .walsh-menu-button {
    color: #fff;
    order: 1;
  }

  .walsh-menu-button.w--open {
    background-color: rgba(0, 0, 0, 0);
  }

  .walsh-link-block-orange {
    text-align: center;
    justify-content: center;
    align-items: flex-start;
    padding-left: 20px;
  }

  .walsh-link-block-transparent-1 {
    justify-content: center;
  }

  .walsh-flex-nav-buttons {
    justify-content: center;
    margin-top: 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .walsh-nav-menu-justify {
    background-color: rgba(56, 56, 56, .46);
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
    display: flex;
  }

  .walsh-container-nav {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0;
  }

  .footer_social-list {
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-right: 0;
    display: flex;
  }

  .uui-padding-vertical-xlarge {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }

  .waves-left-faq-1 {
    text-align: center;
    align-items: center;
  }

  .waves-grid-faq-1 {
    grid-row-gap: 64px;
    grid-template-columns: 1fr;
  }

  .rl_layout237_spacing-block-6 {
    padding-bottom: 3.5rem;
  }

  .rl-heading-style-h4 {
    font-size: 1.75rem;
  }

  .rl_layout237_content {
    grid-column-gap: 2rem;
    flex-direction: column;
    display: flex;
  }

  .rl_layout237_spacing-block-3 {
    padding-bottom: 4.5rem;
  }

  .rl-heading-style-h2 {
    font-size: 2.75rem;
  }

  .rl-padding-section-large {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .walsh-padding-image-hero {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .walsh-link-block-orange-2 {
    padding-left: 50px;
  }

  .walsh-hero-div-block {
    justify-content: center;
  }

  .walsh-paragraph-serif-left-hero {
    max-width: none;
  }

  .walsh-heading-xlarge-white {
    font-size: 4em;
  }

  .walsh-left-hero {
    text-align: center;
    align-items: center;
    padding-left: 0;
  }

  .walsh-main-grid-no-gap {
    grid-template-columns: 1fr 1fr;
  }

  .walsh-container-2 {
    width: auto;
    flex: 0 auto;
  }

  .walsh-form-block {
    padding-right: 0;
  }

  .walsh-main-grid-2 {
    grid-template-columns: 1fr 1fr;
  }

  .walsh-container-padding-large {
    width: auto;
    flex: 0 auto;
    padding-top: 4em;
    padding-bottom: 4em;
  }

  .container-medium-home-2, .contactt_content {
    position: static;
  }

  .html-embed-2 {
    flex-direction: row;
    align-items: flex-start;
    display: block;
  }

  .waves---heading-1-no-margins {
    font-size: 64px;
    line-height: 115%;
  }

  .waves-content-hero-3 {
    text-align: center;
    align-items: center;
    padding-left: 0;
  }

  .waves-hero-3-grid {
    grid-template-columns: 1fr;
  }

  .waves---section-hero-primary {
    text-align: center;
  }

  .waves-master-cta-2 {
    text-align: center;
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .fh-features-image-wrapper {
    height: 450px;
  }

  .fn-featured-tabs-content {
    width: 58%;
  }

  .fn-tabs-link {
    transition: none;
  }

  .fn-tabs-link:hover {
    opacity: 1;
  }

  .fn-heading-2 {
    margin-bottom: 12px;
    font-size: 40px;
  }

  .fn-container-grid {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .fn-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .is_a_section {
    margin-left: auto;
    margin-right: auto;
  }

  .hero-heading {
    font-size: 48px;
  }

  .scoll-btn-container {
    margin-bottom: -57px;
  }

  .hero {
    margin-top: 32px;
    margin-left: 0;
    margin-right: 0;
  }

  .cardcontainer {
    padding-left: 40px;
    padding-right: 40px;
  }

  .cards-containers {
    margin-left: 32px;
    margin-right: 32px;
  }

  .grid {
    grid-column-gap: 32px;
    grid-row-gap: 32px;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  .heading-medium {
    font-size: 1.75rem;
    line-height: 1.4;
  }

  .button-group {
    flex-wrap: wrap;
  }

  .cta-image {
    margin-top: -.875rem;
    margin-left: -20.05rem;
    transform: rotate(0);
  }

  .hero-img-wrap {
    margin-top: 8.4rem;
    transform: scale(.8)rotate(90deg);
  }

  .hero-text-wrap {
    padding-top: 0;
    padding-bottom: 0;
  }

  .text-size-large {
    font-size: 1.125rem;
  }

  .cta-wrap {
    flex-direction: column;
  }

  .section.hero {
    background-position: 0 100%;
    background-size: cover;
  }

  .heading-small {
    font-size: 1.5rem;
  }

  .cta-image-wrap {
    transform: scale(.7);
  }

  .cta-text-wrap {
    width: 100%;
    padding-top: 4rem;
  }

  .heading-xlarge {
    font-size: 2.25rem;
  }

  .cta-image-layer.is-2 {
    top: -23%;
    left: 15%;
  }

  .walsh-brand-block {
    padding-left: 0;
  }

  .uui-footer07_link:hover {
    color: #667085;
  }

  .uui-footer07_bottom-wrapper {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 3rem;
  }

  .div-block-3 {
    padding-top: 10px;
  }

  .uui-footer07_legal-list {
    margin-bottom: 1rem;
  }

  .uui-page-padding-3 {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .uui-padding-vertical-xlarge {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }

  .uui-footer07_link-list {
    grid-row-gap: .5rem;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    justify-items: center;
    display: flex;
  }

  .footer_credit-text {
    order: 1;
  }

  .waves---main-container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .waves---section-medium {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .waves---heading-2-no-margins {
    font-size: 44px;
    line-height: 125%;
  }

  .rl_layout237_spacing-block-6 {
    padding-bottom: 2.5rem;
  }

  .rl_layout237_spacing-block-5 {
    padding-bottom: 1.25rem;
  }

  .rl-heading-style-h4 {
    font-size: 1.5rem;
    line-height: 1.4;
  }

  .rl_layout237_spacing-block-4 {
    padding-bottom: 1.25rem;
  }

  .rl_layout237_content {
    grid-row-gap: 3rem;
    grid-template-columns: 1fr;
  }

  .rl_layout237_spacing-block-3 {
    padding-bottom: 3rem;
  }

  .rl-text-style-medium {
    font-size: 1rem;
  }

  .rl_layout237_spacing-block-2 {
    padding-bottom: 1.25rem;
  }

  .rl-heading-style-h2 {
    font-size: 2.25rem;
  }

  .rl_layout237_spacing-block-1 {
    padding-bottom: .75rem;
  }

  .rl-padding-section-large {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .rl_gallery10_masonry-grid {
    column-count: 1;
    column-gap: 1.5rem;
  }

  .walsh-padding-image-hero {
    padding-top: 3em;
    padding-bottom: 3em;
  }

  .walsh-paragraph-serif-left-hero {
    font-size: 1.4em;
  }

  .walsh-heading-xlarge-white {
    font-size: 3em;
  }

  .walsh-left-hero {
    padding-top: 3em;
    padding-bottom: 0;
  }

  .walsh-cta-form {
    flex-direction: column;
  }

  .walsh-form-block {
    width: 100%;
  }

  .walsh-heading-large-white {
    font-size: 2.4em;
  }

  .walsh-main-grid-2 {
    grid-column-gap: 1em;
    grid-row-gap: 2em;
  }

  .walsh-container-padding-large {
    padding: 6em 3.5em;
  }

  .div-block-5 {
    flex-direction: column;
  }

  .waves---main-container-2 {
    padding-left: 16px;
    padding-right: 16px;
  }

  .waves---subtitle {
    font-size: 22px;
    line-height: 34px;
  }

  .waves---heading-1-no-margins {
    font-size: 56px;
  }

  .waves---heading-2-no-margins-2 {
    font-size: 44px;
    line-height: 125%;
  }

  .waves-master-cta-2 {
    padding: 80px 32px;
  }

  .waves---section-medium-2 {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .fh-features-image-wrapper {
    height: 350px;
  }

  .fn-featured-tabs-content {
    width: 100%;
    margin-top: 12px;
    position: static;
  }

  .fn-paragraph {
    margin-bottom: 24px;
  }

  .fn-heading-2 {
    font-size: 34px;
  }

  .fn-column.tabs-992 {
    align-items: center;
  }

  .fn-container-grid {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .fn-section {
    padding-top: 32px;
    padding-bottom: 32px;
    overflow: visible;
  }

  .image-9 {
    height: 300px;
  }

  .hero-heading {
    margin-bottom: -14px;
  }

  .image-10, .image-11 {
    height: 300px;
  }

  .hero {
    border-radius: 16px;
    margin: 16px 0 0;
    padding-bottom: 120px;
  }

  .cardcontainer {
    padding-bottom: 0;
  }

  .cards-containers {
    margin-left: 24px;
    margin-right: 24px;
  }

  .grid {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    grid-template-columns: 1fr 1fr;
  }

  .cardbtn {
    padding-top: 4px;
  }

  .div-block-9 {
    padding-left: 40px;
    padding-right: 60px;
  }
}

@media screen and (max-width: 479px) {
  .heading-medium {
    font-size: 1.5rem;
  }

  .subheading {
    color: #fff;
    text-align: center;
  }

  .button-group {
    flex-wrap: wrap;
    justify-content: center;
  }

  .cta-image {
    margin-top: -3.975rem;
    transform: rotate(0);
  }

  .hero-img-wrap {
    margin-top: 0;
    transform: scale(.7)rotate(90deg);
  }

  .hero-text-wrap {
    color: #fff;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .text-size-large {
    max-width: 100%;
  }

  .section.hero {
    background-position: 50%;
    background-size: auto;
    border-radius: 0;
    padding-top: 7.75rem;
  }

  .list-wrap {
    padding-left: 0;
  }

  .text-weight-medium.color-e5e5e5 {
    color: #fff;
  }

  .cta-text-wrap {
    z-index: 1;
    padding-top: 2rem;
    padding-left: 1rem;
  }

  .heading-xlarge {
    color: #fff;
    text-align: center;
  }

  .cta-image-layer.is-2 {
    top: -14%;
    left: 3%;
  }

  .walsh-label-button {
    font-size: 16px;
  }

  .walsh-link-block-orange {
    align-self: center;
    padding-left: 30px;
    padding-right: 25px;
  }

  .walsh-link-block-transparent-1 {
    padding-left: 30px;
    padding-right: 25px;
  }

  .walsh-flex-nav-buttons {
    grid-row-gap: 10px;
    flex-direction: column;
    align-items: stretch;
    margin-left: auto;
    margin-right: auto;
  }

  .walsh-nav-menu-justify {
    justify-content: center;
  }

  .walsh-nav-logo {
    height: 24px;
    display: none;
  }

  .walsh-brand-block {
    z-index: 10;
  }

  .walsh-nav-grid-1 {
    position: relative;
  }

  .walsh-container-nav {
    z-index: 10;
    position: relative;
  }

  .walsh-main-nav {
    z-index: 9;
  }

  .walsh-nav-wrapper-green {
    z-index: 999;
  }

  .uui-footer07_link-list {
    grid-template-rows: auto auto auto;
  }

  .waves---section-medium {
    background-color: var(--royal-blue);
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .waves---expand-line {
    flex: none;
  }

  .waves---expand-line.vertical {
    transform-origin: 50%;
    flex: none;
  }

  .waves---expand-icon-wrap {
    flex: none;
  }

  .waves-expanded-text {
    font-size: 16px;
    line-height: 24px;
  }

  .waves---expandable-content {
    max-width: none;
    flex: 0 auto;
  }

  .waves---heading-2-no-margins {
    font-size: 34px;
  }

  .rl_layout237_content {
    grid-template-columns: 1fr;
  }

  .body {
    background-color: rgba(255, 0, 0, 0);
  }

  .walsh-link-block-orange-2 {
    align-self: center;
    padding-left: 30px;
    padding-right: 25px;
  }

  .walsh-hero-div-block {
    width: 100%;
    grid-row-gap: 1.25em;
    flex-direction: column;
    align-items: center;
  }

  .walsh-paragraph-serif-left-hero {
    text-align: center;
    font-size: 1.2em;
  }

  .walsh-left-hero {
    text-align: center;
    align-items: center;
    padding-top: 30px;
    font-size: 18px;
  }

  .walsh-container-2 {
    width: 100%;
    flex: 0 auto;
  }

  .walsh-background-darkgreen {
    padding-top: 60px;
  }

  .walsh-cta-form {
    grid-row-gap: 1em;
    align-items: center;
  }

  .walsh-heading-large-white {
    font-size: 2em;
    line-height: 1.2;
  }

  .walsh-cta-h-wrapper {
    grid-row-gap: 1em;
  }

  .walsh-center-h-wrapper {
    font-size: 18px;
  }

  .walsh-container-padding-large {
    width: 100%;
    flex: 0 auto;
    padding: 4em 2.5em;
  }

  .body-2 {
    background-color: #00274f;
  }

  .body-3 {
    background-color: rgba(0, 102, 204, 0);
  }

  .walsh-nav-logo-copy {
    z-index: 10;
    height: 50px;
    margin-left: 0;
    display: block;
    position: relative;
  }

  .waves-master-image-hero-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .waves---subtitle {
    font-size: 20px;
  }

  .waves---heading-1-no-margins {
    font-size: 36px;
    line-height: 110%;
  }

  .waves---section-hero-primary {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .waves---heading-2-no-margins-2 {
    font-size: 34px;
  }

  .waves-master-cta-2 {
    padding: 64px 16px;
  }

  .waves---section-medium-2 {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .body-4 {
    background-color: rgba(0, 51, 102, 0);
  }

  .fh-features-image-wrapper {
    height: 220px;
  }

  .is_a_section {
    margin-left: auto;
    margin-right: auto;
  }

  .wrapper-image.is_relative {
    width: 18rem;
    height: 18rem;
  }

  .image-9 {
    height: 150px;
  }

  .hero-heading {
    margin-top: 53px;
    margin-bottom: 5px;
    padding-left: 4vw;
    padding-right: 4vw;
    font-size: 36px;
  }

  .image-10 {
    height: 150px;
    right: 150px;
  }

  .lottie-animation {
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
  }

  .image-11 {
    height: 150px;
    right: -150px;
  }

  .hero {
    border-radius: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 100px;
  }

  .link-block {
    width: 64px;
    height: 64px;
    top: 36px;
  }

  .cardcontainer {
    width: 100vw;
    padding-left: 40px;
  }

  .cards-containers {
    margin-left: 0;
    margin-right: 0;
  }

  .grid {
    grid-row-gap: 16px;
    grid-template-columns: 1fr;
    margin-left: 16px;
    margin-right: 16px;
  }

  .div-block-9 {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .div-block-10, .div-block-11 {
    position: relative;
  }

  .image-3-copy {
    display: none;
    top: -1%;
  }

  .image-15-copy {
    z-index: 3;
    display: none;
    position: absolute;
    top: auto;
    bottom: -1%;
    left: 0%;
    right: 0%;
  }
}

#w-node-f2d0c82e-60e1-0a5e-9f71-32a95524e2d0-5524e2ca {
  justify-self: center;
}

#w-node-_727cc85b-5d33-4955-0dcd-4a4d7b3c9635-7b3c9630 {
  grid-area: 1 / 2 / 2 / 3;
  align-self: center;
  justify-self: center;
}

#w-node-_727cc85b-5d33-4955-0dcd-4a4d7b3c9637-7b3c9630 {
  grid-area: 1 / 1 / 2 / 4;
  align-self: center;
}

#w-node-_727cc85b-5d33-4955-0dcd-4a4d7b3c9643-7b3c9630 {
  grid-column: span 3 / span 3;
}

#w-node-ad40bf2a-fd4f-d525-0053-bf7b9814fc83-00156a51 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-ad40bf2a-fd4f-d525-0053-bf7b9814fc8c-00156a51 {
  grid-area: span 1 / span 1 / span 1 / span 1;
  justify-self: end;
}

#formulier.w-node-_95214e15-4b8c-ba11-9c64-dd34e3bd955c-00156a51 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_083419e7-6837-b553-3ffd-1e1b38e36c36-00156a51 {
  align-self: start;
}

#w-node-_083419e7-6837-b553-3ffd-1e1b38e36c38-00156a51 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_083419e7-6837-b553-3ffd-1e1b38e36c3d-00156a51 {
  align-self: start;
}

#w-node-_083419e7-6837-b553-3ffd-1e1b38e36c3f-00156a51 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_083419e7-6837-b553-3ffd-1e1b38e36c44-00156a51 {
  align-self: start;
}

#w-node-_083419e7-6837-b553-3ffd-1e1b38e36c46-00156a51, #w-node-_083419e7-6837-b553-3ffd-1e1b38e36c4c-00156a51 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-becc4ae1-b574-53a7-88a7-d53e80244c1f-03cd40ad {
  grid-area: 1 / 1 / 2 / 7;
  align-self: center;
}

#w-node-becc4ae1-b574-53a7-88a7-d53e80244c38-03cd40ad {
  grid-area: 1 / 7 / 2 / 13;
  align-self: center;
  justify-self: stretch;
}

#w-node-fe8c6e83-12e5-0f28-1ab0-350a72554a4a-03cd40ad {
  grid-area: 1 / 3 / 2 / 11;
  align-self: center;
  justify-self: center;
}

#w-node-_5206b2b3-7daf-ae7d-1b6a-209c79cd7aa8-5441c1ab {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: center;
  justify-self: start;
}

#w-node-_5206b2b3-7daf-ae7d-1b6a-209c79cd7ab0-5441c1ab {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_52e0bdc0-46bc-133e-2f1b-7f013df60c00-5441c1ab {
  grid-area: span 1 / span 4 / span 1 / span 4;
  align-self: center;
}

@media screen and (min-width: 1920px) {
  #w-node-_0e5bc577-eac1-8904-f9ac-e9aafd0ea067-5441c1ab {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}

@media screen and (max-width: 991px) {
  #w-node-f2d0c82e-60e1-0a5e-9f71-32a95524e2d0-5524e2ca {
    justify-self: center;
  }

  #w-node-_727cc85b-5d33-4955-0dcd-4a4d7b3c9635-7b3c9630 {
    grid-column: 1 / 2;
    justify-self: start;
  }

  #w-node-_727cc85b-5d33-4955-0dcd-4a4d7b3c9637-7b3c9630 {
    grid-area: 1 / 1 / 2 / 4;
    align-self: center;
  }

  #w-node-_727cc85b-5d33-4955-0dcd-4a4d7b3c9643-7b3c9630 {
    grid-area: 1 / 3 / 2 / 4;
    justify-self: end;
  }

  #w-node-ad40bf2a-fd4f-d525-0053-bf7b9814fc83-00156a51, #w-node-ad40bf2a-fd4f-d525-0053-bf7b9814fc8c-00156a51 {
    justify-self: center;
  }

  #w-node-becc4ae1-b574-53a7-88a7-d53e80244c1f-03cd40ad {
    grid-area: 1 / 1 / 2 / 3;
  }

  #w-node-becc4ae1-b574-53a7-88a7-d53e80244c38-03cd40ad {
    grid-area: 2 / 1 / 3 / 3;
  }

  #w-node-fe8c6e83-12e5-0f28-1ab0-350a72554a4a-03cd40ad {
    grid-area: 1 / 1 / 3 / 3;
  }

  #w-node-_5206b2b3-7daf-ae7d-1b6a-209c79cd7aa8-5441c1ab {
    justify-self: center;
  }

  #w-node-_52e0bdc0-46bc-133e-2f1b-7f013df60c00-5441c1ab {
    grid-column: span 3 / span 3;
  }
}

@media screen and (max-width: 767px) {
  #w-node-fe8c6e83-12e5-0f28-1ab0-350a72554a4a-03cd40ad {
    grid-row-start: 1;
  }

  #w-node-_52e0bdc0-46bc-133e-2f1b-7f013df60c00-5441c1ab {
    grid-column: span 4 / span 4;
  }
}

@media screen and (max-width: 479px) {
  #w-node-f2d0c82e-60e1-0a5e-9f71-32a95524e2d0-5524e2ca {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_727cc85b-5d33-4955-0dcd-4a4d7b3c9635-7b3c9630 {
    grid-column-end: 3;
  }

  #w-node-becc4ae1-b574-53a7-88a7-d53e80244c1f-03cd40ad {
    grid-area: 1 / 1 / 2 / 3;
  }

  #w-node-fe8c6e83-12e5-0f28-1ab0-350a72554a4a-03cd40ad {
    grid-area: 1 / 1 / 3 / 3;
  }
}


